@font-face {
    font-family: 'Yandex Sans Display';
    src: url('../fonts/YandexSansDisplay-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Yandex Sans Text';
    src: url("../fonts/YandexSansText-Regular.woff2") format('woff2');
}
html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
body{
    color: #FFF;
    font-family: Yandex Sans Text;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
.container {
    max-width: 1160px;
    padding: 0 10px;
    margin: 0 auto;
}
.header{
    background-color: #EBF3FF;
    padding: 51px 150px;
    margin-bottom: 115px;
}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button {
    background: none;
    border: none;
    padding: 18px 32px;
    border-radius: 12px;
    transition: background-color .5s ease;
}
.title{
    color: #FFF;
    font-family: Yandex Sans Display;
    font-size: 34px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 64px;
}
.button--yellow{
    background-color: #FFD21E;
    font-size: 19px;
}
.button--yellow:hover{
    background-color: #FFF182;
}
.button--white{
    background-color: #fff;
    font-size: 19px;
}
.button--white:hover{
    background-color: #c4c4c4;
}
.header__btn{
    background-color: #fff;
    color: #191E28;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
}
.header__btn:hover{
    background-color: #c4c4c4;
}
.analytics{
    margin-bottom: 115px;
}
.analytics__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.analytics__content-title{
    color: #191E28;
    font-family: Yandex Sans Display;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 32px;
    max-width: 390px;
}
.analytics__content-text{
    color: #9C9C9C;
    margin-bottom: 40px;
    max-width: 439px;
}
.advantages{
    background-color: #191E28;
    padding-top: 80px;
    padding-bottom: 160px;
}

.advantages__slider{
    padding-bottom: 70px;
    position: relative;
    overflow: hidden;
}
.advantages__slide{
    width: 425px!important;
    border-radius: 12px;
    border: 1px solid #131720;
    background: #131720;
    position: relative;
    min-height: 179px;
    padding: 24px;
}
.swiper-wrapper{
    box-sizing: border-box;
    margin-left: 30px;
}
.swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #FFF;
    opacity: 1;
    background: none;
    border: 1px solid #fff;
}
.swiper-pagination-bullet-active{
    background-color: #BCC7D8;
}
.advantages__img{
    position: absolute;
    right: 0;
    bottom: 0;
}
.advantages__title{
    font-size: 20px;
    font-weight: 700;
    line-height: 135%;
    margin-bottom: 16px;
}
.advantages__text{
    max-width: 341px;
}
.advantages__content{
    margin-top: 160px;
    color: #fff;
}
.advantages__inner{
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 16px;
}
.advantages__item{
    border-radius: 12px;
    border: 1px solid #131720;
    background: #131720;
    backdrop-filter: blur(7.5px);
    padding: 24px;
    display: flex;
    flex-direction: column;
    min-width: 273px;
}
.advantages__item--big{
    min-width: 562px;
    border-radius: 12px;
    border: 1px solid #131720;
    background: #131720;
    backdrop-filter: blur(7.5px);
    padding: 24px;
    display: flex;
    flex-direction: column;
}
.advantages__item-title{
    margin-bottom: 8px;
    font-size: 20px;
}
.advantages__item-img{
    width: 24px;
    height: 24px;
    margin-top: auto;
    margin-left: auto;
}
.advantages__item--big .advantages__item-img{
    width: 85px;
    height: 65px;
}